{% include 'base.html' %}
{% include 'navigation.html' %}


{% block content %}


    <h1 class="text-center" style="margin-top: 10px;">About Us</h1>
    <div class="container" style="margin-top: 100px ; margin-bottom:10px">
   
    
    <div class="row">
        <div class="col-md-6 " style="padding-left: 30px;">
            <h1 class="Strong">Who we are and What we do</h1>
            <p class="lead">This is the world's leading portal for <br> easy and quick </p>
        </div>
        
        <div class="col-md-6 " style="padding-left: 70px;">
            <p>Why Choose our Healthcare?<br></p>
                <p>‘Touch a Billion Lives’.<br>
                “Our mission is to bring healthcare of International standards within the
                     reach of every individual.We are committed to the achievement and maintenance of excellence in education, 
                     research and healthcare for the benefit of humanity”</p>
            </div>

            <div class="row">
                <div class="text-center" style="margin-top: 20px;">
                  <h3>Our Team</h3>
                    <p >When you become a patient at Stong Memorial Hospital you<br>
                        and your family enter a partnership with us. </p>
                <div class="border">

                </div>
                </div>

            
    </div>
</div>

{% endblock content %}
{% include 'footer.html' %}
</div>
